@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

:root {
  --illustration-width: 500px;
  --logo-width: 260px;
  --title-font-size: 4rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #07080c;
  color: #ffffff;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.container {
  max-width: 1024px;
  width: calc(100% - 4rem);
  margin-left: 2rem;
  margin-right: 2rem;
  min-height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title,
.modal-title {
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: var(--title-font-size);
  line-height: 72px;
  letter-spacing: -0.02em;
}

/*========== MEDIA QUERIES ==========*/
@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 800px) {
  .container {
    margin-top: 2.5rem;
  }
  .title {
    text-align: center;
  }
}

@media screen and (max-width: 550px) {
  :root {
    --title-font-size: 3rem;
  }
}

@media screen and (max-width: 360px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
    width: calc(100% - 2rem);
  }
}

/* animation */

@keyframes fadeInLeft {
  from {
    transform: translate3d(-40px, 0, 0);
    opacity: 0.1;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@-webkit-keyframes fadeInLeft {
  from {
    transform: translate3d(-40px, 0, 0);
    opacity: 0.1;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeInRight {
  from {
    transform: translate3d(40px, 0, 0);
    opacity: 0.1;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@-webkit-keyframes fadeInRight {
  from {
    transform: translate3d(40px, 0, 0);
    opacity: 0.1;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0px, -40px, 0);
    opacity: 0.1;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0px, -40px, 0);
    opacity: 0.1;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
